jupyterlab
ipykernel
notebook
ipywidgets
mpltools
nbformat
nbconvert
git+https://github.com/dynamicslab/pysindy.git@master#egg=pysindy
dmsuite
gym
memory_profiler
gmsh
modred
seaborn
slycot
control
--no-binary=h5py h5py