name: Test Build of Package

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  package-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: 3.9
    - name: Install Poetry
      run: |
        python -m pip install --upgrade pip
        pip install poetry
        poetry config virtualenvs.in-project false
        poetry config virtualenvs.path ~/.virtualenvs
        poetry config pypi-token.pypi ${{ secrets.PYPI_API_TOKEN }}
    - name: Build package
      run: |
        poetry build
